<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/web-server/public/css/styles.css">
</head>

<body>
    {{>header}}
    <img src="/web-server/public/images/IMG-20211221-WA0004__01.jpg" alt="profile-picture" />
    <p>{{name}}</p>
    {{>footer}}
</body>

</html>